*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
}
/* start class utility  */
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.content-relative{
    position:relative;
}
.contain-image{
    width:350px;
    height:600px;
    border:1px solid black;
    margin:20px 0 0 10px;
}
.photo{
    width:350px;
    height:500px;
    background-size:cover;
    background-position:center;
}
.discaunt{
    background-color:#d63b49;
    color:white;
    padding:5px;
    position:absolute;
    bottom:10px;
    left:0;
}
.sostenibilità{
    background-color:#3f8259;
    color:white;
    padding:5px;
    position:absolute;
    bottom:10px;
    left:60px;
}
.interlinea{
    line-height:25px;
}
.text{
    font-weight: 300;
    font-size:17px;
}
.price{
    color:#d63b49;
    font-weight:bold;
    margin-top:10px;
}
.speciale{
    background-color: #75ad51;
    height:100px;
    padding:10px 0 10px 10px;
}
/* end class utility */
.main-container{
    max-width:1200px;
    min-width:200px;
    height:1040px;
    margin:20px auto 20px auto;
}
.uno{
    background-image:url("../img/1.webp");
}
.due{
    background-image:url("../img/2.webp");
}
.tre{
    background-image:url("../img/3.webp")
}
.quattro{
    background-image:url("../img/4.webp")
}
.cinque{
    background-image:url("../img/5.webp")
}
.sei{
    background-image:url("../img/6.webp")
}